#body-container {
    font-family: "Roboto", sans-serif;
    max-width: 1440px;
    margin: auto;
    border: 2px solid black;
    background-color: #1F2937;
}

/* Header Container */

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin: 0 200px;
}

.header-container > p {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 16px;
}

.header-container > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.header-container > a:hover {
    font-size: 18.2px;
    color: #c7c9cc;
}

/* Main Container */

.main-container {
    display: flex;
    margin: 100px 200px 130px 200px;
}

.hero {
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0 20px 0;
}

img {
    width: 50%;
    border-radius: 5px;
}

.main-1 {

}


/* Button */

.sign-up {
    border: 0px;
    background-color: #3882F6;
    padding: 8px 30px;
    border-radius: 5px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.sign-up:hover {
    background-color: #2875f0;
}