#body-container {
    font-family: "Roboto", sans-serif;
    max-width: 1440px;
    margin: auto;
}

/* Header Container */

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: #1F2937;
}

.header-container > p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 16px auto 16px 200px;
}

.header-container > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.header-container > a:nth-of-type(3) {
    margin-right: 200px;
}

.header-container > a:hover {
    font-size: 18.2px;
    color: #c7c9cc;
}

/* Main Container */

.hero {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 100px 200px 140px 200px;
    gap: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0 20px 0;
}

.hero img {
    width: 50%;
    border-radius: 5px;
}

/* Four Squares Container */

.under-hero {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.under-hero h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0;
}

.four-squares-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-bottom: 90px;
}

.four-squares-container p {
    margin-top: 8px;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    width: 175px;
}

.square {
    margin: auto;
    width: 167px;
    height: 167px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

/* Button */

.sign-up {
    border: 0px;
    background-color: #3882F6;
    padding: 9px 35px;
    border-radius: 5px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.sign-up:hover {
    background-color: #2875f0;
}